<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script>
        if (localStorage.getItem('theme')) {
            document.getElementsByTagName('html')[0].dataset.theme = localStorage.getItem('theme')
        }
    </script>
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tailwindcss.3.4.16.js') }}"></script>
    <link href="{{ url_for('static', filename='css/daisyui@4.12.23.css') }}" rel="stylesheet" type="text/css"/>
    <!--样式来自https://daisyui.com/-->
</head>

<body>
<div id="app" v-cloak>
    <div class="max-w-3xl mx-auto px-16">
          <nav class="navbar p-0 w-full">
            <h3 class=" mt-0 text-xl font-semibold leading-normal">
                <a href="/">首页</a>->扫码登录
            </h3>
          </nav>
        </div>
    <div class="max-w-3xl flex justify-center mx-auto pb-6">
        <div>
            <img class="max-w-80" :src="img"/>
        </div>
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            img:'',
            qrcode_key:''
        },
        mounted:function(){
            axios.get('/bilibili/api/qrimg')
                .then(response => {
                    app.img=response.data.img
                    app.qrcode_key = response.data.qrcode_key
                    var timer = setInterval(function(){
                        axios.get('/bilibili/api/qrscan?qrcode_key='+app.qrcode_key)
                            .then(response => {
                                if(response.data.code==0){
                                    clearInterval(timer)
                                    console.log('登陆成功')
                                    location.href='/bilibili/info/user/view?vmid='+response.data.vmid
                                }else{
                                    console.log(response.data.message)
                                }

                            })
                            .catch(error => {
                                console.error(error);
                            });
                     },5000)
                })
                .catch(error => {
                    console.error(error);
                });

        },
        methods: {
        }
    })


</script>

</html>